book_list_markdown

<% if year.present? %>
# Books Read in <%= year %>
<% else %>
# Books Read
<% end %>

<% if books.present? and books.size() > 0 %>
<% books.each do |book| %>
## <%= book[:book_title] %>, <%= book[:author] %>

![alt text][<%= book[:image_url] %>]

Links:
[GoodReads](<%= book[:goodreads_link] %>)

<% end %>
<% else %>
No books read.
<% end %>
